# Analysis of CoG public data

Work with the CoG metadata to look at the variant emergence

Note, the file is slightly too big for GitHub but this one was at:

https://cog-uk-microreact.s3.climb.ac.uk/2021-05-07/cog_metadata_microreact_geocodes_only.csv

In [1]:
%matplotlib inline
import numpy as np
import scipy.stats as st
import scipy.special as sp
import matplotlib.pyplot as plt
import pandas as pd
import datetime
import scipy.optimize as op
from numpy import linalg as LA

In [2]:
df = pd.read_csv('./cog_metadata_microreact_geocodes_only.csv', usecols=['adm1','sample_date','lineage'])

In [3]:
df = df[df.adm1=='UK-ENG'].reset_index(drop=True).drop(columns=['adm1'])
df

       sample_date     lineage
0       31/12/2020     B.1.1.7
1       28/11/2020  B.1.177.19
2       04/11/2020  B.1.177.19
3       01/12/2020     B.1.177
4       20/10/2020     B.1.177
...            ...         ...
325856  03/03/2020      B.1.98
325857  03/03/2020         B.1
325858  02/03/2020      B.1.91
325859  25/02/2020        B.40
325860  29/01/2020           B

[325861 rows x 2 columns]

In [4]:
def todays(x):
    return np.array((pd.to_datetime(x, format='%d/%m/%Y') - pd.Timestamp("2021-01-01")) // pd.Timedelta('1D'))

In [5]:
days = df['sample_date'].apply(todays)
days

0          -1
1         -34
2         -58
3         -31
4         -73
         ...
325856   -304
325857   -304
325858   -305
325859   -311
325860   -338
Name: sample_date, Length: 325861, dtype: int64

In [6]:
strains = pd.unique(df['lineage'])
strains[['B.1.617' in s for s in strains]]

array(['B.1.617'], dtype=object)

In [8]:
isi = np.array(df.lineage.values == 'B.1.617')
isi

array([False, False, False, ..., False, False, False])

In [9]:
np.max(days)

123